.wrapper {
  height: fit-content;
  width: 360px;
}

/* HEADER */

/* Popup Menu Phone */

.container-popup-phone {
  /* display: none; */
}

.container-background-blur {
  position: fixed;
  left: 0%;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 50%;
  z-index: 600;
}

.popup-menu-phone {
  position: fixed;
  right: 0%;
  height: 100vh;
  width: 270px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 700;
}

.popup-menu-phone img {
  height: 30px;
  width: 30px;
  align-self: flex-end;
  margin: 20px 20px 100px 0px;
  cursor: pointer;
}

.popup-menu-phone-sections {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 20px;
}

.popup-menu-phone a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Burger menu  */

nav {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-logo {
  height: 25px;
}

.img-menu {
  float: right;
  height: 17px;
  cursor: pointer;
}
/* TODO IN DESK */
.container-nav-selections {
  display: flex;
}

/* SECTION1 */

.container-web-3 {
  display: flex;
  flex-direction: column;
}

.container-web-3-info h1 {
  font-size: 4.4rem;
  line-height: 46px;
  margin: 20px 0px;
  font-weight: 800;
}

.container-web-3-info p {
  color: var(--darkGrayishBlue);
}

.btn-read-more {
  background-color: var(--sofrRed);
  font-family: "Inter", sans-serif;
  letter-spacing: 1.2px;
  color: white;
  height: 4rem;
  width: 16rem;
  border: 0px;
  margin: 10px 0px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn-read-more:hover {
  background-color: var(--veryDarkBlue);
}

.container-new {
  background-color: var(--veryDarkBlue);
  padding: 10px 20px 2px;
  margin: 50px 0px;
}

.container-new-question {
  border-bottom: 1px solid var(--grayishBlue);
  margin-bottom: 30px;
}

.container-new h2 {
  font-size: 3rem;
  color: var(--softOrange);
  margin-top: 10px;
  margin-bottom: 34px;
}

.container-new h3 {
  font-size: 2rem;
  color: white;
}

.container-new h3:hover {
  color: var(--sofrRed);
  cursor: pointer;
}

.container-new p {
  color: var(--grayishBlue);
  margin-bottom: 30px;
}

.new-question-3 {
  border: 0px;
}

.container-artical-all {
  margin-top: 60px;
  padding-bottom: 40px;
}

.container-article {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.container-article img {
  height: 130px;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-article h2,
.container-article p {
  margin: 0px 0px 0px 20px;
}

.container-article h2 {
  color: var(--grayishBlue);
}

.container-article h3 {
  margin: 10px 0px 10px 20px;
  font-weight: 800;
}

.container-article h3:hover {
  color: var(--sofrRed);
  cursor: pointer;
}

.container-article p {
  color: var(--darkGrayishBlue);
}

/* OTHERS */
.hidden {
  display: none;
}

@media screen and (min-width: 1440px) {
}
